body {
    background-color: rgb(41, 41, 41);
}
input::file-selector-button {
    background-color: rgb(67, 66, 66);
    transition: all .2s ease-in-out;
    border: none;
    cursor: pointer;
    color: #ffa500;
    font-style: 20px;
    padding: 10px;
    border-radius: 5px;
}
input::file-selector-button:hover {
    background-color: rgb(41, 41, 41);
}
input {
    color: orange;
}
label {
    color: white;
}